body {
  font-family: "PT Mono", monospace;
  background: #a8dde2;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
small {
}

.btn {
  background: #068692;
  color: #ffff;
}

.today-weather .description {
  text-transform: capitalize;
}

.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  box-shadow: 0px 2px 20px 6px rgba(3, 135, 131, 0.2);
  border-radius: 10px;
}
.today-weather {
  position: relative;
  max-width: 250px;
  text-align: center;
  padding: 20px;
  background-color: rgba(217, 217, 217, 0.07);
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.units a {
  text-decoration: none;
}
.weather-temperature strong {
  display: inline;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .active {
  color: #000;
}
.weather-temperature .selected {
  color: #9e9ea8;
}
.d-flex {
  text-align: center;
}
