body {
  font-family: "PT Mono", monospace;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.card-body h1 {
  color: #000;
  font-size: 30px;
}
.card-body .description {
  text-transform: capitalize;
}

.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.units a {
  text-decoration: none;
}
.weather-temperature strong {
  display: inline;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .active {
  color: #000;
}
.weather-temperature .selected {
  color: #9e9ea8;
}
.d-flex {
  text-align: center;
}
